.blog-section{
    & .blog-section-content{
        display: flex;
        justify-content: center;
        align-items: center;
        & .blog-section-last-part-block{
            width: 1140px;   
            & .blog-section-last-part-top-block{
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                padding-top: 80px;
                padding-bottom: 80px;
                & .blog-section-last-part-top-block-colomns{
                    position: relative; 
                    & .blog-section-colomn{
                        width: 350px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    & .blog-section-colomn-desc{
                        background-color: black;
                        transition: background-color 1s ease;
                        opacity: 0.7;
                        padding: 45px;
                        color: white;
                        text-align: center;
                        position: absolute;
                        top: 30px;
                        left: 30px;
                        font-family: "Roboto", sans-serif;
                        font-weight: 500;
                        font-style: normal;
                        width: 200px;
                        height: 70px;
                        &:hover{
                            background-color: #3fcaff;
                            color: white;
                        }
                        & .blog-section-colomn-title{
                            border-bottom: 1px solid white;
                            padding-bottom: 15px;
                            font-size: 18px;
                            font-style: bold;
                        
                        }
                        & .blog-section-colomn-text{
                            padding-top: 15px;
                        }
                    }
                }
            }
            & .blog-section-last-part-main-content{
                display: flex;
                & .blog-section-main-content-left-part{
                    display: flex;
                    flex-direction: column;
                    & .blog-section-main-content-block{
                        display: flex;
                        padding-bottom: 25px;
                        justify-content: space-between;
                        & .blog-section-main-content-block-left{
                            & .info-left{
                                display: flex;
                                flex-direction: column;
                                & .info-left-content{
                                    padding-top: 10px;
                                    color: grey;
                                }
                            }
                        }
                        & .blog-section-main-info-block{
                            width: 555px;
                            margin-left: 25px;
                            & .blog-section-main-info-block-image{
                                margin-bottom: 15px;
                            }
                            & .blog-section-main-info-block-title{
                                margin-bottom: 15px;
                            }
                            & .blog-section-main-info-block-text{
                                margin-bottom: 15px;
                            }
                            & .blog-section-main-info-block-link{
                                text-decoration: none;
                                color: black;
                                padding: 10px;
                                text-align: center;
                            }
                        }
                    }
                }
                & .blog-section-main-content-right-part{
                    & .blog-section-main-content-right-part-content{
                         padding: 30px;
                         border: 1px solid rgb(206, 205, 205);

                        & .blog-section-right-search-input{
                            background-color: #3fcaff;
                            padding: 10px;
                            color: white;
                            border-radius: 10px;
                            width: 93%;
                            border: 1px solid white ;
                            &::placeholder{
                                color: white;

                            }
                        }
                        & .blog-section-author{
                            text-align: center;
                            border-top: 1px solid rgb(206, 205, 205);
                            border-bottom : 1px solid rgb(206, 205, 205);
                            margin: 30px 0px;
                            padding: 30px 0px;
                            & .social-media-logos{
                                display: flex;
                                justify-content: space-evenly;
                                padding: 10px 35px;
                                
                            }
                            & .author-name{
                                font-style: bold;
                                font-size: 18px;
                            }
                            & .author-position{
                                color: grey;
                                font-style: italic;
                            }
                            & .author-text{
                                color: grey;
                                font-style: italic;
                            }
                        }
                        & .popular-posts{
                            color: white;
                            text-align: center;
                            background-color:#3fcaff ;
                            font-size: 18px;
                            padding: 10px 20px;
                            font-weight: bold;
                        }
                        & 
                        .post{
                            display: flex;
                            justify-content: space-between;
                            padding: 15px 0px;
                            & .post-desc{
                                display: flex;
                                flex-direction: column;
                                justify-content: space-evenly;
                                width: 130px;
                                & .post-desc-title{
                                    font-size: 14px;
                                    font-family: "Roboto", sans-serif;
                                }
                                & .post-desc-time{
                                    font-size: 12px;
                                    font-family: "Roboto", sans-serif;
                                    font-style: italic;
                                    color: grey;
                                }
                                
                            }
                        }
                        & .categories{
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            border-bottom: 1px dotted grey;
                            color: grey;
                            padding: 20px 0px;
                            &:hover{
                                color: #3fcaff;
                            }
                        }
                        & .blog-section-newsletter-block{
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            height: 220px;
                            margin-top: 25px;
                            border-top: 1px solid rgb(206, 205, 205);
                            padding: 25px 0px;
                            & .popular-posts{
                                color: white;
                                text-align: center;
                                background-color:#3fcaff ;
                                font-size: 18px;
                                padding: 10px 20px;
                                font-weight: bold;
                            }
                            & .blog-section-newsletter-block-text{
                                display: flex;
                                justify-content: center;
                                color: grey;
                                & .blog-section-newsletter-block-input-button{
                                    & .blog-section-newsletter-block-input{
                                        padding: 10px;
                                        width: 63%;
                                    }
                                    & .blog-section-newsletter-block-button{
                                        padding: 10px;
                                        height: 39px;
                                        color: white;
                                        text-align: center;
                                        background-color:#3fcaff ;
                                        font-weight: bold;
                                        border: 0px;
                                        padding: 0px 15px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}




@media (max-width:1140px){
    .blog-section{
        & .blog-section-content{
            & .blog-section-last-part-block{
                & .blog-section-last-part-top-block {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    & .blog-section-last-part-top-block-colomns{
                        margin-top: 25px;
                    }
                }
                & .blog-section-last-part-main-content{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    & .blog-section-main-content-left-part{
                        &  .blog-section-main-content-block {
                            display: flex;
                            justify-content: center;
                            width: 768px;
                        }
                    }
                    & .blog-section-main-content-right-part{
                        & .blog-section-main-content-right-part-content{
                            width: 608px;
                            margin-bottom: 25px;

                            & .blog-section-right-search-input{
                                width: 97%;
                            }
                            & .post{
                                display: flex;
                                justify-content: flex-start ;
                                & .post-desc{
                                    padding-left: 15px;
                                }
                            }
                            & .blog-section-newsletter-block-input-button{
                                & .blog-section-newsletter-block-input{
                                    width: 80%;
                                }
                            }
                            
                        }
                    }
                }
            }
        }
    }
    
    
    
    
   
    

    
   

    
    
}
@media (max-width:768px){
    .blog-section{
        & .blog-section-content{
            & .blog-section-last-part-block{
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                & .blog-section-last-part-top-block{
                    width: 80%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    padding-bottom: 30px;
                }
                & .blog-section-last-part-main-content{
                    & .blog-section-main-content-left-part{
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        & .blog-section-main-content-block {

                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            width: 90%;
                            margin: 20px 0px 0px 0px;
                            padding: 0px;
                            & .blog-section-main-content-block-left{
                                width: 100%;
                            }
                            & .blog-section-main-info-block {
                                margin: 0px;
                                width: 100%;
                                & .blog-section-main-info-block-image{
                                    width: 100%;
                                    
                                }
                            }
                        }
                    }
                    & .blog-section-main-content-right-part{
                        display: flex;
        justify-content: center;
        margin-top: 20px;
                        & .blog-section-main-content-right-part-content{
                            width: 80%;
                            padding: 20px;
                            & .post{
                                display: flex;
                                justify-content: flex-start;
                            }
                        }
                    }
                }
            }
        }
    }    
}