.about-block-after-header{
    background-image: url(./assets/home-banner.jpg.webp);
    height: 400px;
    background-size: 1800px;
}
.about-block-after-header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.about-block-after-header-nav1{
    font-size: 18px;
    color: white;
    text-align: center;
}
.about-block-after-header-nav{
    font-size: 25px;
    color: white;
    margin-top: 10px;
}
.contact-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact-block-container{
    width: 1000px;
    padding: 50px;
}
.google-map{
    margin: 50px 0px;
    display: flex;
    justify-content: center;
}
.contact-form{
    display: flex;
    justify-content: space-between;
}
.contact-form-first-part-content{
    display: flex;
       font-family: "Roboto", sans-serif;
}
.contact-form-first-part-content-desc{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.contact-form-first-part-emoji{
    font-size: 25px;
    padding-right: 20px;
    padding-bottom: 30px;
}
.contact-form-first-part-content-title{
    font-size: 16px;
    font-weight: bold;
}
.contact-form-first-part-content-text{
    color: #777777;
    margin-bottom: 20px;
}
.contact-form-secont-part-inputs{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.contact-form-secont-part-input{
   
    height: 20px;
    padding: 6px 12px 6px 20px;
    border:1px solid #ced4da;
    background-color: #fff;
    margin-bottom: 20px;
}
.contact-form-third-part-textarea{
    height: 122px;
    width: 400px;
    padding: 10px;
    border:1px solid #ced4da;
    resize:none ;

}
.contact-form-third-part-textarea::placeholder{
    font-size: 16px;
    font-style: normal;
}
.contact-form-third-part-btn{
    padding: 0px 35px ;
    height: 50px;
    background: linear-gradient(to right, #3fcaff 0%, #a4ffb0 51%, #3fcaff 100%);
    border: none;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    border-radius: 5px;
    margin-top: 20px;
    color: rgb(34, 34, 34);
    letter-spacing: 1px;
    font-size: 12px;
    font-weight: 500;
    line-height: 50px;
}    
.contact-form-third-part-button{
    display: flex;
    justify-content: flex-end;
}
@media (max-width:1140px){
    .contact-block-container{
        width: 86%;
    }
    .contact-form{
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
    }
    .contact-form-first-part{
        width: 100%;
        margin-bottom: 30px;
    }   
}
@media(max-width:768px){
    
    .contact-block-container{
        width: 80%;
        padding: 0px;
    }
    .contact-form-second-part{
        width: 100%;
    }
    .contact-form-secont-part-inputs{
        width: 100%;
    }
    .contact-form-third-part{
        width: 100%;
        padding-bottom: 40px;
    }
    .contact-form-third-part-textarea{
        width: 100%;
        padding:0px;
    }
    .contact-form-third-part-textarea::placeholder{
        padding: 6px 12px 6px 20px;
    }
    

}


