.login-form{
    display: flex;
    flex-direction: column;
    width: 400px;
}
.login-form-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
}
.login-title{
  margin: 20px 0px;
}
.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
  }
  
  .login-form-container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
  }
  
  .mail-input,
  .password-input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }
  
  .checkbox-block {
    margin-bottom: 15px;
  }
  
  .checkbox-block label {
    font-size: 14px;
  }
  
  .login-button,
  .create-button {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 10px 0;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .login-button:hover,
  .create-button:hover {
    background-color: #0056b3;
  }
  
  .forgot-button {
    margin: 10px 0px;
    font-size: 14px;
    color: #007bff;
    text-decoration: none;
    display: block;
    text-align: center;
  }
  
  .forgot-button:hover {
    text-decoration: underline;
  }
  .false-data{
    color: red;
    font-weight: bold;
    display: none;
    padding: 5px 0px;
  }
  