.screens-gallery-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.screens-gallery-photos{
    width: 1140px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
    padding-top: 50px;
}
.add-photo-to-gallery{
    margin-top: 20px;
}
.screens-gallery-left-side-first-row{
    display: flex;
    justify-content: space-between;
}
.screens-gallery-left-side-second-row{
    margin-top: 26px
} 
.screens-gallery-main-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 70px;
    font-family: "Rajdhani", sans-serif;
    font-weight: 600;
    font-style: normal;
}  
.screens-gallery-main-low-opacity-title{
    font-size: 72px;
    color: #3fcaff;
    opacity: 0.1;
    text-align: center;
}
.screens-gallery-main-high-opacity-title{
    color: #222222;
    margin-top: -60px;
    text-align: center;
}
@media (max-width:1140px){
    .screens-gallery-right-side{
        display: none;
    }
    .screens-gallery-photos{
        width: 768px;
        justify-content: center;
    }
}
@media (max-width:768px){
    .screens-gallery-photos{
        width: 80%;
        display: flex;
        flex-wrap: wrap;
    }
    .screens-gallery-left-side-first-row,.screens-gallery-left-side-second-row{
        display: flex;
        justify-content: center;
       
        flex-wrap: wrap;
    }
    .screens-gallery-left-side-second-row-image,.screens-gallery-left-side-first-row-image{
        width: 100%;
    }
    .screens-gallery-left-side{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .screens-gallery-left-side-first-row-image{
        margin-bottom: 20px;
    }
    .screens-gallery-left-side-second-row{
        margin-top: 0px;
    } 
    .screens-gallery-main-title{
        width: 355px;
        margin: 20px;
    }
    .screens-gallery-main-low-opacity-title{
        font-size: 50px;
    }
    .screens-gallery-main-high-opacity-title{
        font-size: 36px;
        margin-top: -50px;
    }
}
.photo{
    width: 360px ;
    height: 210px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.photo-list-main-block{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 100px 0px;
}

.photo-list-content{
    margin: 10px 5px;
}
