.home-section-first-block{
    background-size: 1800px;
    height: 100%;
    padding: 100px;
    background-image: url(./assets/home-banner.jpg.webp);
    background-position: center;
    background-origin: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.home-section-first-block-content{
    display: flex;
    width: 1140px;
    align-items: center;
    justify-content: space-between;
}
.home-section-first-block-right-side-title{
    font-size: 60px;
    color: white;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-family: "Rajdhani", sans-serif;
    font-weight: 600;
    font-style: normal;
      
    
}
.watch-video-block-button{
    background: linear-gradient(to right, #3fcaff 0%, #a4ffb0 51%, #3fcaff 100%);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 0px;
    cursor: pointer;
    ;
}

        
.watch-video-block{
    display: flex;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.home-section-first-block-right-side-text{
    color: white;
    margin-bottom: 40px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.watch-video-text{
    color: white;
    margin-left: 20px;
    display: flex;
    align-items: center;
    font-weight: bold;
    
}
.home-section-first-block-left-side{
    width: 540px;
    
}
.home-section-first-block-right-side{
    width: 44%;
}
.novostroyka{
   width: 540px;
}
.play-emoji{
    font-size: 20px
}
@media (max-width:1140px){
    .home-section-first-block{
        height: 500px;
    }
    .home-section-first-block-left-side{
        display: none;
    }
    .home-section-first-block-right-side{
        width: 80%;
    }
    .home-section-first-block-content{
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .watch-video-block{
        padding-left: 20px;
    }
    .home-section-first-block-right-side-title{
        text-align: left;
    }
    .home-section-first-block-right-side-text{
        text-align: left;
        font-weight: bold;
    }
}
@media (max-width:768px){
    .home-section-first-block{
        height: 400px;
    }
    .home-section-first-block-right-side-title{
        font-size: 28px;
        text-align: left;
    }
    .home-section-first-block-right-side-text{
        text-align: left;
        font-weight: bold;
    }
    .watch-video-text {
        font-size: 12px;
       
    }
    .watch-video-block{
        padding: 0px;
    }
}